@page
@model HealthForms.Api.Sample.Pages.ClaimCodeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Tenant Token</h1>
    <p>Learn more about authorizing a <a href="https://github.com/southportsolutions/healthforms.io">HealthForms.io tenant</a>.</p>

    <div><strong>Tenant ID:</strong>@Model.TenantId</div>
    <div><strong>Tenant Token:</strong>@Model.Token</div>
</div>
