
name: Core - Build and Deploy

on:
  workflow_dispatch:
      inputs:
        logLevel:
          description: 'Log level'
          required: true
          default: 'warning'
          type: choice
          options:
          - info
          - warning
          - debug
        tags:
          description: 'Test scenario tags'
          required: false
          type: boolean
        environment:
          description: 'Environment to run tests against'
          type: environment
          required: true
  push:
    branches: [ main ]
    tags: [ 'release-core@*' ]

env:
  PROJECT_NAME: ${{secrets.PROJECT_NAME_CORE}}
  BUILD_CONFIGURATION: ${{secrets.BUILD_CONFIGURATION}}
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Resolve version
        id: version
        shell: bash
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/release@* ]]; then
            # tag is like refs/tags/release@1.2.3
            VERSION="${GITHUB_REF#refs/tags/release@}"
          else
            VERSION="1.0.0-alpha1"
          fi
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      
      - name: Turn on globstar and nullglob
        shell: bash
        run: |
          shopt -s globstar nullglob

      - name: Restore
        run: dotnet restore ./Southport.UnitTesting.EFCore.SQL.sln --configfile nuget.config

      - name: Build & Pack
        run: |
          dotnet pack **/${{ env.PROJECT_NAME }}.csproj \
            --output "${{ github.workspace }}/artifacts" \
            --configuration "${{ env.BUILD_CONFIGURATION }}" \
            /p:Version="${{ steps.version.outputs.version }}"

      - name: Publish to nuget.org (only on release tags)
        if: startsWith(github.ref, 'refs/tags/release@')
        env:
          NUGET_API_KEY: ${{ secrets.NUGETPUSH }}
          SOURCE: 'https://api.nuget.org/v3/index.json'
        run: dotnet nuget push **/${{ env.PROJECT_NAME }}.${{ steps.version.outputs.version }}.nupkg --source ${SOURCE} --api-key ${NUGET_API_KEY}
